<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Course_ranking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Course_ranking.styles.css" asp-append-version="true" />
</head>
<body style="background-color:#1b293a">
    <header style="background-color:#1b293a">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#1b293a">
            <div class="container-fluid" style="background-color:#1b293a">
                <a class="navbar-brand" style="color:white" asp-area="" asp-controller="Home" asp-action="Index">Course ranking</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="background-color:#1b293a">
                    <span class="navbar-toggler-icon" style="background-color:#1b293a"></span>
                </button>
                <div class="nav navbar-right">
                    <li class="nav-link">  <a asp-controller="Dashboard" asp-action="MyResult" style="margin-top:10PX; color:white;">My Result</a></li>
@*                    <li class="nav-link">  <h5 style="margin-top:10PX;color:white">Courses</h5></li>*@
                    <li class="nav-link">  <a asp-controller="Home" asp-action="Login" class="btn btn-primary">Login</a></li>
                    
            
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Course_ranking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
