@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-bold" style="font-family:Arial;color:white">Welcome to ranking course</h1>
   
  @*  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<br />
<div class="row">
    <div class="offset-4 col-md-3">
        <a class="btn btn-primary btn-lg">Go to Course</a>

      
    </div>
    <div class="col-md-3">
        <a asp-controller="Home" asp-action="Register" class="btn btn-success btn-lg">Register</a>


    </div>
</div>
